@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "ReceiverMessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Receiver Message Details</h1>

<form class="form-group">
    @Html.HiddenFor(x => x.WriterMessageID, new { @class = "form-control" })
    @Html.Label("Receiver Name")
    @Html.TextBoxFor(x => x.ReceiverName, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.Label("Receiver Mail")
    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.Label("Message Content")
    @Html.TextBoxFor(x => x.WriterMessageContent, new { @class = "form-control", @readonly = "readonly" })
</form>