@model EntityLayer.Concrete.SocialMedia

@{
    ViewData["Title"] = "EditSocialMedia";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


@using (Html.BeginForm("EditSocialMedia", "SocialMedia", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Social Media Account Editing Panel </p>
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(x => x.SocialMediaID, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        @Html.TextBoxFor(x => x.SocialMediaName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>URL</label>
                        @Html.TextBoxFor(x => x.SocialMediaUrl, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Icon</label>
                        @Html.TextBoxFor(x => x.SocialMediaIcon, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        @Html.TextBoxFor(x => x.SocialMediaStatus, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
}
