@model EntityLayer.Concrete.About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@using (Html.BeginForm("Index", "About", FormMethod.Post))
{

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="card-description">About Page </h1>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>ID</label>
                        @Html.TextBoxFor(x => x.AboutID, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        @Html.TextBoxFor(x => x.AboutTitle, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        @Html.TextBoxFor(x => x.AboutAge ,new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Mail</label>
                        @Html.TextBoxFor(x => x.AboutMail, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        @Html.TextBoxFor(x => x.AboutPhone, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        @Html.TextBoxFor(x => x.AboutAddress, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>ImageURL</label>
                        @Html.TextBoxFor(x => x.AboutImageUrl, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        @Html.TextAreaFor(x => x.AboutDescription, 10, 4, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>

}

