@using EntityLayer.Concrete
@model List<Announcement>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{
    string color = "";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic Table</h4>
            <p class="card-description">
                Add class <code>.table</code>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Details</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {    
                            if (item.Status=="Inactive")
                            {
                                color = "badge badge-danger";
                            }
                            if (item.Status == "Active")
                            {
                                color = "badge badge-success";
                            }
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Title</td>
                            <td>@(((DateTime)@item.Date).ToString("dd-MMM-yy"))</td>
                            <td><label class="@color">@item.Status</label></td>
                                <td><a class="btn btn-outline-dark" href="/Writer/Default/AnnouncementDetails/@item.ID">Details</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>