@model EntityLayer.Concrete.WriterMessage

@{
    ViewData["Title"] = "AdminMessageDetails";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Message Detail Page </p>
            <form class="forms-sample">
                <div class="form-group">
                    @Html.HiddenFor(x => x.WriterMessageID, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Title</label>
                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Sender</label>
                    @Html.TextBoxFor(x => x.SenderName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Receiver</label>
                    @Html.TextBoxFor(x => x.ReceiverName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Date</label>
                    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Content</label>
                    @Html.TextAreaFor(x => x.WriterMessageContent, 10, 4, new { @class = "form-control" })
                </div>
                <a asp-action="ReceiverMessageList" class="btn btn-outline-pinterest">Admin InBox</a>
                <a asp-action="SenderMessageList" class="btn btn-outline-twitter" style="margin-left:10px">Admin OutBox</a>
            </form>
        </div>
    </div>
</div>

