@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditProject";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Edit Projects Page</h3>
</div>
<br />
<br />
<br />

@using (Html.BeginForm("EditProject", "Portfolio", FormMethod.Post))
{

    @Html.HiddenFor(x=>x.PortfolioID)
    @Html.Label("Project Name")
    @Html.TextBoxFor(x => x.PortfolioName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.PortfolioName)
    <br>
    @Html.Label("Image 1")
    @Html.TextBoxFor(x => x.PortfolioImageUrl, new { @class = "form-control" })
                //@Html.ValidationMessageFor(x => x.PortfolioImageUrl)
    <br />
    @Html.Label("Image 2")
    @Html.TextBoxFor(x => x.PortfolioImageUrl2, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.PortfolioImageUrl2)
    <br />
    @Html.Label("Project URL")
    @Html.TextBoxFor(x => x.PortfolioProjectUrl, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.PortfolioProjectUrl)
    <br />
    @Html.Label("Project FEE")
    @Html.TextBoxFor(x => x.PortfolioFee, new { @class = "form-control" })
    <br />
    @Html.Label("Project Value")
    @Html.TextBoxFor(x => x.PortfolioValue, new { @class = "form-control" })
    <br />
    @Html.Label("Project URL")
    @Html.TextBoxFor(x => x.PortfolioImg1, new { @class = "form-control" })
    <br />
    @Html.Label("Project URL")
    @Html.TextBoxFor(x => x.PortfolioImg2, new { @class = "form-control" })
    <br />
    @Html.Label("Project URL")
    @Html.TextBoxFor(x => x.PortfolioImg3, new { @class = "form-control" })
    <br />
    @Html.Label("Project URL")
    @Html.TextBoxFor(x => x.PortfolioImg4, new { @class = "form-control" })
    <br />
    @Html.Label("Project URL")
    @Html.TextBoxFor(x => x.PortfolioPlatform, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-dark">Add</button>
}

