@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card-header border-0">
    <h3 class="mb-0">Edit Service Page</h3>
</div>
<br />
<br />
<br />

@using (Html.BeginForm("EditService", "Service", FormMethod.Post))
{

    @Html.HiddenFor(x => x.ServiceID)
    @Html.Label("Experience Name")
    @Html.TextBoxFor(x => x.ServiceTitle, new { @class = "form-control" })
    <br>
    @Html.Label("Experience Date")
    @Html.TextBoxFor(x => x.ServiceImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-dark">Save</button>
}