@model EntityLayer.Concrete.Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@using (Html.BeginForm("Index", "Feature", FormMethod.Post))
{

    @Html.HiddenFor(x => x.FeatureID)
    @Html.Label("Header")
    @Html.TextBoxFor(x => x.FeatureHeader, new { @class = "form-control" })
    <br>
    @Html.Label("Name")
    @Html.TextBoxFor(x => x.FeatureName, new { @class = "form-control" })
    <br />
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.FeatureTitle, new { @class = "form-control" })
    <br />
    <button class="btn alert-light">Edit</button>
}

